# Ignore Visual Studio temporary files, build results, and
# User-specific files

# Visual Studio files
.vs/
.vscode/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates